html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

.container {
    padding: 1em;
}

.schedule {
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.schedule-lectures {
    width: 100%;
}

.schedule-month {
    width: 100%;
    margin: 1em 0 0.2em;
    border-top: 0.2em #dc0000 solid;
    color: #dc0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: .1em;
}

.schedule-month span {
    position: relative;
    padding: 0 1em;
    top: -.65em;
    left: 3.5em;
    background-color: #fff;
    display: inline-block;
}

@media (max-width:400px) {
    .schedule-month span {
        left: 2em;
    }
}

@media (max-width:300px) {
    .schedule-month {
        border-top: none;
    }

    .schedule-month span {
        padding: 0;
        left: 0;
    }
}

.schedule-lectures__date {
    width: 5%;
}

.schedule-lectures__lecture {
    width: 64%;
}

.schedule-lectures__lecturer {
    text-align: left;
    width: 31%;
}

.link, .link:visited {
    text-decoration: none;
    color: #44b;
}

.link:hover {
    color: #e00;
}
